.main {
  width: 100%;
  transition: .25s cubic-bezier(.1,.57,.1,1);
}

.fixed .main {
  padding-left: 240px;
}

.single-line-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
  white-space: nowrap;
}